@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;400i;700i&display=swap');

/* latin-ext */

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

td,
th,
tr,

p {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

a {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 18px;
}

strong {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 18px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 26px;
}

.papertitle {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.name {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 36px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: rgb(252, 252, 247);
}
.paper-entry {
  margin-bottom: 20px; /* Adjust this value to the gap you want */
}

body {
  line-height: 1.6; /* This is a multiplier of your font size */
  background-color: rgb(252, 252, 247);
  font-family: 'Titillium Web'; /* Add this line if you want the body font to be Titillium Web */
  font-size: 18px; /* Change this value to the desired body font size */
}

strong {
font-weight: bold; /* This makes sure that strong is always bold */
}

em {
font-style: italic; /* This will make sure that <em> is always italicized */
font-weight: normal;
}